<h1 class="page-title">
        <a href="/dashboard" class="bg-secondary rounded text-dark px-3 py-1 text-decoration-none">Your Dashboard</a>
      </h1>
    </header>
    <main>
<form class="create-post-container mx-auto border-dark">
  <div>
    <h4 class="bg-dark text-secondary create-post-title">Create New Post</h4>
  </div>
  <div class="p-2">
    <p>Title</p>
    <input class="form-control" type="text" id="post-title" name="post-title" />
  </div>
  <div class="p-2">
    <p>Content</p>
    <input class="form-control post-content-input" id="post-content" name="post-content" />
  </div>
  <div class="p-2">
    <button class="form-control btn btn-success text-white" type="submit">Create</button>
  </div>
</form>

<script src="/javascript/create-post.js"></script>