<h1 class="page-title">
        <a href="/" class="bg-secondary rounded text-dark px-3 py-1 text-decoration-none">The Tech Blog</a>
      </h1>
    </header>
    <main>
<ul class="">
    {{#each posts as |post|}}
    <li>
        {{> post-list post }}
    </li>
    {{/each}}
</ul>