<h1 class="page-title">
        <a href="/" class="bg-secondary rounded text-dark px-3 py-1 text-decoration-none">The Tech Blog</a>
      </h1>
    </header>
    <main>
<div class="login-container mx-auto bg-secondary border-dark">
  <form class="login-form">
    <h2 class="bg-dark text-secondary login-title">Login</h2>
    <div class="p-2">
      <label for="username-login" class="fw-bolder text-dark">Username</label>
      <input type="text" id="username-login" class="text-dark form-control"/>
    </div>
    <div class="p-2">
      <label for="password-login" class="text-dark">Password</label>
      <input type="password" id="password-login" class="text-dark form-control"/>
    </div>
    <div class="p-2">
      <button type="submit" class="btn btn-success form-control text-secondary">Login!</button>
    </div>
    <div class="p-2">
        <a href="/sign-up" class="text-decoration-none">Sign up instead</a>
    </div>
  </form>
</div>
<script src="/javascript/login.js"></script>